---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="¡Nos mudamos!" description="El contenido está ahora en Blog">
  <section class="prose">
    <h1>Esta sección ahora es Blog</h1>
    <p>
      He reemplazado “Sobre mí” por <a href="/blog">Blog</a>, donde publicaré
      mis escritos. Actualiza tus marcadores.
    </p>
    <p>
      También puedes ver mis <a href="/projects">proyectos</a> o escribirme a
      <a href="mailto:hola@martin.dev">hola@martin.dev</a>.
    </p>
  </section>
</BaseLayout>
